.pink_circle {
  background-color: #f7176a;
  padding: 0px 7px;
  color: #fff;
  z-index: 99999;
}
.blue_circle {
  background-color: #338aee!important;
  padding: 0px 7px;
  color: #fff;
  z-index: 99999;
}
.drag_obj {
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.color_bar {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 30px;
  height: 65%;
  color: #000;
}
.color_bar label {
  margin-left: 32px;
  font-size: 10px;
}