<div id="site_info">
  <h5><i class="fas fa-info-circle"></i>{{ 'result.layered.info' | translate }}</h5>
  <ul>
    <li>
      <span><label>{{ 'taskName' | translate }}</label>{{ calculateForm['taskName'] }}</span>
      <span><label>{{ 'createTime' | translate }}</label>{{ calculateForm['createTime'] }}</span>
    </li>
    <li>
      <span><label>{{ 'planning.size' | translate }}({{ 'meter' | translate }})</label>{{ 'width' | translate }} {{ calculateForm.width }} / {{ 'height' | translate }} {{ calculateForm.height }} ／{{ 'result.pdf.altitude' | translate }} {{ calculateForm['altitude'] }} </span>
      <span><label>{{ 'zValue' | translate }}</label>{{ calculateForm.zValue }} {{ 'meter' | translate }}</span>
    </li>
    <li>
      <span>
        <label>{{ 'planning.target' | translate }}</label>
        <div *ngIf="planningObj.isAverageSinr">{{ 'isAverageSinr' | translate }}</div>
        <div *ngIf="planningObj.isCoverage">{{ 'isCoverage' | translate }}</div>
        <div *ngIf="planningObj.isUeAvgSinr">{{ 'isUeAvgSinr' | translate }}</div>
        <div *ngIf="planningObj.isUeAvgThroughput">{{ 'isUeAvgThroughput' | translate }}</div>
        <div *ngIf="planningObj.isUeTpByDistance">{{ 'isUeTpByDistance' | translate }}</div>
      </span>
    </li>
    <hr>
    <h5><i class="fas fa-info-circle"></i>{{ 'result.bs.info' | translate }}</h5>
    <li>
      <span><label>{{ 'planning.net' | translate }}</label>{{ parseOB(calculateForm.objectiveIndex) }}</span>
      <span><label>{{ 'result.propose.wait_select_1' | translate }}</label>{{ getWaitSelect() }}</span>
      <span><label>{{ 'defaultBs' | translate }}</label>{{ getBsCount() }}</span>
      <span><label>{{ 'result.dbm.range' | translate }}</label>	{{ calculateForm.powerMinRange }} dBm ~ {{ calculateForm.powerMaxRange }} dBm</span>
      <span><label>{{ 'result.beam.range' | translate }}</label>	0 ~ 30</span>
      <span><label>{{ 'bandwidth' | translate }}(MHz)</label>	{{ calculateForm.bandwidth }} MHz</span>
      <span><label>{{ 'frequency' | translate }}(MHz)</label>	{{ calculateForm.frequency }} MHz</span>
    </li>
  </ul>
</div>
