

h5 {
    font-size: 1.1em;
    margin-bottom: .5em;
}
ul li {
    display: block;
    line-height: 1.75;
}
ul li span {
    display: block;
    font-size: .9;
}
ul li span > span {
    display: inline-block;
    margin-bottom: .5em;
}
ul li span label {
    font-weight: bold;
    font-size: .95em;
    margin-right: .2em;
    line-height: 1;
}
ul li span label::after {
    content: " :";
}