.mat-button-toggle-group {
    margin-left: 1em;
}
.leftArea,.rightArea {
    display: inline-block;
    vertical-align: top;
    padding: 1em;
}
.leftArea {
    width: 75%;
}
.rightArea {
    font-size: .9em;
    width: 25%;
    border: 1px solid #ddd;
    background-color: #eee;
}
.rightArea h5 {
    font-size: 1.1em;
}
.rightArea ul li {
    display: block;
}
.rightArea ul li span {
    display: block;
    font-size: .9;
}
.rightArea ul li span > span {
    display: inline;
    line-height: 1;
    margin-bottom: .5em;
}
.rightArea ul li span label {
    font-weight: bold;
    font-size: .95em;
    margin-right: .2em;
}
.rightArea ul li span label::after {
    content: " :";
}