.login {
    width: 100vw;
    display: flex;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rbg(0,0,0,0.5);
}
.login h5 {
    text-align: center;
    margin: 1em 0;
}

.login .box {
    display: inline-block;
    min-width: 25em;
    min-height: 20em;
    margin: auto;
    padding: 3em 2em 2em;
    background-color: #0e1521;
    opacity: .9;
    line-height: 2;
    border-radius: 6px;
}
.login .box input {
    margin: 3px;
    padding: 0 .5em;
    line-height: 1.5;
    font-size: .9em;
    outline: 0;
}
.login .box div {
    width: 80%;
    margin: auto;
}
.login .box div span {
    display: inline-block;
    width: 4.5em;
    font-size: .85em;
    font-weight: normal;
    opacity: .7;
    margin-right: .3em;
}
.login .box button {
    border: 1px solid #ddd;
    border-radius: 5em;
    background-color: #333;
    color: #fff;
    padding: .1em 4em;
    margin: 1em auto 0;
    display: block;
    cursor: pointer;
    width: 96%;
    outline: 0;
    background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    text-transform: uppercase;
    transition: 0.5s;
}

.login .box button:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
    }
    

.login .logo {
    background-color: #ddd;
    width: 5em!important;
    height: 5em;
    display: block;
    border-radius: 5em;
    margin: 0 auto;
}