.modalContent {
    color: #333;
}

td div input[type="text"] {
    margin: .3em .5em;
    width: 4em;
}
td.th {
    background-color: #eee;
    text-align: right;
}
.modalContent table .th {
    width: 12em;
}
mat-button-toggle-group {
    margin-left: .5em;
}
.mat-radio-button {
    margin-right: 1em;
}
:host ::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 32px;
    padding: 0 12px;
}
.h3, h3 {
    font-size: 1.3rem;
}
h3 button {
    font-size: .7em;
    margin-left: .5em;
    font-weight: normal;
    border: 0;
    background-color: #ddd;
    outline: 0;
    cursor: pointer;
    border-radius: 4px;
    padding: .3em 1em .4em;
    line-height: 1;
    vertical-align: bottom;
}
.size span {
    display: inline-block;
    margin-right: 1em;
}
.size input {
    width: 3em;
    margin: 0 .3em;
}
.note {
    font-size: .85em;
    color: #999;
}
