<h3>新專案規劃
  <span class="example-button-row">
      <button mat-button>載入</button>
  </span>
</h3>
<div class="modal-content">
  <table>
    <thead>
      <tr>
        <th>規劃案名稱</th>
        <th>規劃目標</th>
        <th>場域平面圖</th>
        <th>場域尺寸</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text"></td>
        <td>
          <select name="" id=""></select>
        </td>
        <td>
          <input type="file">
          <span class="note">圖檔限制...</span>
        </td>
        <td>
          <label>長<input type="text"></label>
          <label>寬<input type="text"></label>
          <label>高<input type="text"></label>
        </td>
      </tr>
    </tbody>
  </table>
  
  <button>確定</button>
</div>