<h3>新專案規劃
  <span class="example-button-row">
      <button mat-button>匯入舊檔(.csv)</button>
  </span>
</h3>
<div class="modalContent">
  <table>
    <tbody>
      <tr>
        <td class="th">規劃案名稱</td>
        <td [formGroup]="formGroup">
          <input type="text" class="w100" [(ngModel)]="this.calculateForm.taskName" formControlName="taskName" required >
          <div *ngIf="taskName.invalid && (taskName.dirty || taskName.touched)" class="alert alert-danger">
            <div *ngIf="taskName.errors.required">
              {{ 'field.required' | translate }}
            </div>
          </div>
        </td>
      </tr>
      <!--<tr>
        <td class="th">規劃目標</td>
        <td>
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">UE 平均 SINR 最大</mat-radio-button>
            <mat-radio-button value="2">UE 覆蓋範圍最大</mat-radio-button>
            <mat-radio-button value="3">UE 平均下行 Throughput 最大</mat-radio-button>
            <mat-radio-button value="4">場域平均 SINR 最大</mat-radio-button>
            <mat-radio-button value="5">場域覆蓋範圍最大</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>-->
      <tr>
        <td class="th">場域平面圖</td>
        <td>
          <input type="file" (change)="fileChange($event)" accept="image/jpeg,image/png,image/jpg" >
          <span class="note">圖檔限制...</span>
          <div *ngIf="showImgMsg" class="alert alert-danger">
              {{ 'image.required' | translate }}
          </div>
        </td>
      </tr>
      <tr>
        <td class="th">場域尺寸</td>
        <td class="size" [formGroup]="sizeGroup">
          <span><input type="text" placeholder="長" [(ngModel)]="calculateForm.width" formControlName="width" required pattern="[1-9][0-9]*">公尺</span>
          <span><input type="text" placeholder="寬" [(ngModel)]="calculateForm.height" formControlName="height" required pattern="[1-9][0-9]*">公尺</span>
          <span><input type="text" placeholder="高" [(ngModel)]="calculateForm.altitude" formControlName="altitude" required pattern="[1-9][0-9]*">公尺</span>
          <div *ngIf="sizeGroup.errors?.sizeRevealed && (sizeGroup.touched || sizeGroup.dirty)" class="alert alert-danger">
            <div *ngIf="width.errors?.pattern || height.errors?.pattern || altitude.errors?.pattern; else required">
              {{ 'numeric.enter' | translate }}
            </div>
            <ng-template #required>
              {{ 'field.required' | translate }}
            </ng-template>
          </div>
        </td>
      </tr>
      <tr>
        <td class="th">網路種類</td>
        <td>
          <mat-radio-group [(ngModel)]="calculateForm.objectiveIndex" aria-label="Select an option">
            <mat-radio-button value="1">4G</mat-radio-button>
            <mat-radio-button value="2">5G</mat-radio-button>
            <mat-radio-button value="3">Wifi</mat-radio-button>
          </mat-radio-group>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="modalFooter">
    <a href="javascript:void(0)" (click)="ok()">確定</a>
  </div>
</div>

