<div class="label" #label></div>
<div class="tool">
  <span class="material-icons target" matTooltip="障礙物" (click)="moveClick($event)" >stop</span>
  <span class="material-icons target" matTooltip="障礙物" (click)="moveClick($event)">fiber_manual_record</span>
  <span class="material-icons" matTooltip="障礙物">play_arrow</span>
  <hr>
  <span class="material-icons" matTooltip="現有基站">router</span>
  <span class="material-icons" matTooltip="新增基站">fiber_new</span>
  <hr>
  <span class="material-icons" matTooltip="新增ＵＥ">desktop_windows</span>
</div>

<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    

  <div>
      <button class="toggle" mat-button (click)="sidenav.toggle()"><span class="material-icons">tune</span></button>
      <h2 class="inline-block">場域規劃</h2>
      <mat-button-toggle-group class="inline-block">
        <mat-button-toggle value="save" selected>儲存</mat-button-toggle>
        <mat-button-toggle value="export">匯出</mat-button-toggle>
        <mat-button-toggle value="go" [routerLink]="['/site/result']">開始運算</mat-button-toggle>
      </mat-button-toggle-group>
      <a href="javascript:void(0)" [routerLink]="['/site/result']">開始運算</a>

    <div class="dropDown_area" style="background-image:url({{imageSrc}})">
    </div>

  </div>

  <ngx-moveable
    #moveable
    [target]="target"
    [draggable]="true"
    [origin]="false"
    [rotatable]="true"
    [pinchable]="true"
    [scalable]="scalable"
    [resizable]="resizable"
    [warpable]="warpable"
    [keepRatio]="false"
    [throttleDrag]="1"
    [throttleScale]="0.01"
    [throttleRotate]="0.2"
    [throttleResize]="1"
    (drag)="onDrag($event)"
    (resize)="onResize($event)"
    (scale)="onScale($event)"
    (warp)="onWarp($event)"
    (rotate)="onRotate($event)"
    (pinch)="onPinch($event)"
    (dragEnd)="onEnd()"
    (resizeEnd)="onEnd()"
    (scaleEnd)="onEnd()"
    (warpEnd)="onEnd()"
    (rotateEnd)="onEnd()"
    (pinchEnd)="onEnd()"
  ></ngx-moveable>


  </mat-sidenav-content>
  <mat-sidenav #sidenav mode="side" position="end" [(opened)]="opened" >
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>規劃目標設定</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="pannel-content">
          <div><mat-checkbox>平均 SINR</mat-checkbox><input type="text"></div>
          <div><mat-checkbox>平均 Throughput</mat-checkbox><input type="text"></div>
          <div><mat-checkbox>場域Coverage</mat-checkbox><input type="text"></div>
          <div><mat-checkbox>UE 平均 SINR</mat-checkbox><input type="text"></div>
          <div><mat-checkbox>UE平均Throughput</mat-checkbox><input type="text" [(ngModel)]="calculateForm.threshold" ></div>
          <div><mat-checkbox>UE平均Throughput最大(依距離)</mat-checkbox><input type="text"></div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>場域設定</mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>
            <p>平面高度<span> ( 單位:公分，最多可設定3組高度 ) </span></p>
            <ol class="inline-block">
              <li><input type="text" value="60"></li>
              <li><input type="text"></li>
              <li><input type="text"></li>
            </ol>
          </li>

          <li>
            <p [class]="subitemClass['obstacle']">障礙物資訊<label class="matBadge">3</label>
            <span class="material-icons" (click)="arrowUpDown($event, 'obstacle')" >keyboard_arrow_up</span>
            </p>
            <ol>
              <li>
                <span>
                  <label>X</label>
                  <input type="text" value="12.3">
                </span>
                <span>
                  <label>Y</label>
                  <input type="text" value="34.4">
                </span>
                <br>
                <span>
                  <label>長</label>
                  <input type="text" value="28.7">
                </span>
                <span>
                  <label>寬</label>
                  <input type="text" value="28.7">
                </span>
                <span>
                  <label>高</label>
                  <input type="text" value="28.7">
                </span>
              </li>
              <li>
                <span>
                  <label>X</label>
                  <input type="text" value="12.3">
                </span>
                <span>
                  <label>Y</label>
                  <input type="text" value="34.4">
                </span>
                <br>
                <span>
                  <label>長</label>
                  <input type="text" value="28.7">
                </span>
                <span>
                  <label>寬</label>
                  <input type="text" value="28.7">
                </span>
                <span>
                  <label>高</label>
                  <input type="text" value="28.7">
                </span>
              </li>
              <li>
                <span>
                  <label>X</label>
                  <input type="text" value="12.3">
                </span>
                <span>
                  <label>Y</label>
                  <input type="text" value="34.4">
                </span>
                <br>
                <span>
                  <label>長</label>
                  <input type="text" value="28.7">
                </span>
                <span>
                  <label>寬</label>
                  <input type="text" value="28.7">
                </span>
                <span>
                  <label>高</label>
                  <input type="text" value="28.7">
                </span>
              </li>
              
            </ol>
          </li>
        
          <li>
            <p [class]="subitemClass['ue']">UE 設定<label class="matBadge">3</label>
              <span (click)="arrowUpDown($event, 'ue')" class="material-icons">keyboard_arrow_up</span>
            </p>
            <ol>
              <li>
                <span>
                  <label>X</label>
                  <input type="text">
                </span>
                <span>
                  <label>Y</label>
                  <input type="text">
                </span>
                <span>
                  <label>Z</label>
                  <select class="zAxis" name="" id="">
                    <option value="">60</option>
                  </select>
                </span>
              </li>
              <li>
                <span>
                  <label>X</label>
                  <input type="text">
                </span>
                <span>
                  <label>Y</label>
                  <input type="text">
                </span>
                <span>
                  <label>Z</label>
                  <select class="zAxis" name="" id="">
                    <option value="">60</option>
                  </select>
                </span>
              </li>
              <li>
                <span>
                  <label>X</label>
                  <input type="text">
                </span>
                <span>
                  <label>Y</label>
                  <input type="text">
                </span>
                <span>
                  <label>Z</label>
                  <select class="zAxis" name="" id="">
                    <option value="">60</option>
                  </select>
                </span>
              </li>
            </ol>
          </li>
        </ul>
        
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>基站設定</mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>
            <p>參數設定</p>
            <ul>
              <li>
                <label>傳輸功率</label>
                <span>
                  <input type="text" value="-20" placeholder="下限">~<input value="19" type="text" placeholder="上限">dBm
                </span>
              </li>
              <li>
                <label>新基站數量</label>
                <span>
                  <input type="text">
                </span>
              </li>
                <label>基站頻率</label>
                <span>
                  <select name="" id="">
                    <option value="">2.4G</option>
                    <option value="">5G</option>
                  </select>
                </span>
              <li>
                <label>系統頻寬 / 頻率</label>
                <span>
                  <select name="" id="">
                    <option value=""></option>
                  </select>
                  /
                  <input type="text">
                </span>
              </li>
            </ul>
          </li>
          <li>
            <p>現有基站<label class="matBadge">2</label></p>
            <ol>
              <li>
                <span>
                  <label>X</label>
                  <input type="text">
                </span>
                <span>
                  <label>Y</label>
                  <input type="text">
                </span>
                <span>
                  <label>Z</label>
                  <input type="text">
                </span>
              </li>
              <li>
                <span>
                  <label>X</label>
                  <input type="text">
                </span>
                <span>
                  <label>Y</label>
                  <input type="text">
                </span>
                <span>
                  <label>Z</label>
                  <input type="text">
                </span>
              </li>
            </ol>
          </li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>待選基站位置<label class="matBadge">2</label></mat-panel-title>
        </mat-expansion-panel-header>
          <ol>
            <li>
              <span>
                <label>X</label>
                <input type="text">
              </span>
              <span>
                <label>Y</label>
                <input type="text">
              </span>
              <span>
                <label>Z</label>
                <input type="text">
              </span>
            </li>
            <li>
              <span>
                <label>X</label>
                <input type="text">
              </span>
              <span>
                <label>Y</label>
                <input type="text">
              </span>
              <span>
                <label>Z</label>
                <input type="text">
              </span>
            </li>
          </ol>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>無線模型參數</mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>
            <label>預設無線模型</label>
            <span><select name="" id=""></select></span>
          </li>
          <li>
            <label>自訂無線模型(@jane要再給)</label>
          
            <span>
            a<input type="text">
            b<input type="text">
            c<input type="text">
            </span>
          </li>
          <li>
            <span>Path Loss Model</span>
            <select class="widthAuto">
              <option>台中智機場域</option>
            </select>
          </li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>演算法設定</mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li>
            <span>C值</span>
            <input type="text">
          </li>
          <li>
            <span>天線數</span>
            <input type="text">
          </li>
          <li>
            <span>氣溫</span>
            <input type="text">
          </li> 
          <li>
            <span>節點模擬時間限制</span>
            <input type="text">
          </li> 
          <li>
            <span>本次規劃之時間限制</span>
            <input type="text">
          </li>
          <li>
            <span>本次規劃之模擬次數上限</span>
            <input type="text">
          </li>
        </ul>
      </mat-expansion-panel>
 
    </mat-accordion>    
  </mat-sidenav>
</mat-sidenav-container>
