mat-sidenav-container {
    margin: -2em 0 0 2em;
    padding: 2em 0 0 1em;
    position: relative;
    height: 95vh;
}
.tool {
    position: absolute;
    left: 0px;
    top: 0;
    width: 4em;
    height: 100%;
    background-color: #000;
    color: #fff;
    z-index: 1;
}
.tool span {
    display: block;
    padding: 1em 0 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.mat-sidenav {
    max-width: 30%;
}
.toggle {
    float: right;
    border: 0;
    background-color: transparent;
    outline: 0;
    margin-right: .5em;
    cursor: pointer;
}
:host ::ng-deep .mat-button-toggle-group {
    margin-left: 1em;
}
.dropDown_area {
    width: 100%;
    display: block;
}