<div class="tool">
  <span class="material-icons">stop</span>
  <span class="material-icons">fiber_manual_record</span>
  <span class="material-icons">play_arrow</span>
  <span class="material-icons">router</span>
  <span class="material-icons">fiber_new</span>
  <span class="material-icons">desktop_windows</span>
</div>

<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    

    <div>
      <button class="toggle" mat-button (click)="sidenav.toggle()"><span class="material-icons">tune</span></button>
    
    <h2 class="inline-block">場域規劃</h2>
    <mat-button-toggle-group class="inline-block">
      <mat-button-toggle value="save" selected>儲存</mat-button-toggle>
      <mat-button-toggle value="export">匯出</mat-button-toggle>
      <mat-button-toggle value="go">開始運算</mat-button-toggle>
     <!-- <mat-button-toggle [routerLink]="['/site/view3d']" value="3D">3D顯示</mat-button-toggle>-->
    </mat-button-toggle-group>

    <div class="dropDown_area" style="background-image:url(/assets/img/Layout.png)">
    </div>

  </div>
  </mat-sidenav-content>
  <mat-sidenav #sidenav mode="side" position="end" [(opened)]="opened" >
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>規劃目標設定</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="pannel-content">
          <div><mat-checkbox>平均 SINR</mat-checkbox><input type="text"></div>
          <div><mat-checkbox>平均 Throughput</mat-checkbox><input type="text"></div>
          <div><mat-checkbox>UE 平均 SINR</mat-checkbox><input type="text"></div>
          <div><mat-checkbox>場域Coverage</mat-checkbox><input type="text"></div>
          <div><mat-checkbox>UE平均Throughput</mat-checkbox><input type="text"></div>
          <div><mat-checkbox>UE平均Throughput最大(依距離)</mat-checkbox><input type="text"></div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>場域設定</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            
            
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>

        <mat-expansion-panel-header>
          <mat-panel-title>基站設定</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>

        <mat-expansion-panel-header>
          <mat-panel-title>障礙物資訊</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>

        <mat-expansion-panel-header>
          <mat-panel-title>UE 設定</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>

        <mat-expansion-panel-header>
          <mat-panel-title>演算法設定</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
</mat-sidenav-container>