<h2>無限網路規劃  專案列表
	<span class="example-button-row">
		<button mat-button (click)="openDialog()"> 新增</button>
	</span>
</h2>
	
<div class="planningList">

	<table>
		<thead>
			<tr>
			<th>名稱</th>
			<th class="stat">狀況</th>
			<th class="date">建立時間</th>
			<th class="min">規劃報告</th>
			<th class="min">編輯</th>
			<th class="min">刪除</th>
			<th class="min">匯出</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of taskList">
				<td>{{ item.taskName }}</td>
				<td>
					<span>{{ roundFormat(item.progress * 100) }}%</span> 
					<mat-progress-bar mode="determinate" value="{{ item.progress * 100 }}"></mat-progress-bar>
				</td>
				<td>{{ item.createTime }}</td>
				<td><i class="far fa-file-pdf" (click)="exportPDF(item.taskId)" ></i></td>
				<td><i class="fas fa-pencil-alt"></i></td>
				<td><i class="far fa-trash-alt"></i></td>
				<td><i class="fas fa-file-download"></i></td>
			</tr>
			<tr *ngIf="taskList.length === 0">
				<td colspan="7" class="text-center">{{ 'notaskList' | translate }}</td>
			</tr>
		</tbody>
	</table>

</div>

<h2>操作說明</h2>

<div id="pdf_area" style="display: none;" >
	<app-pdf #pdf></app-pdf>
</div>

