:host ::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 32px;
    padding: 0 12px;
}
.planningList {
    /*border: 1px solid #5aa5e2;*/
    padding: 2px;
    margin: .5em 0 1em;
}
.planningList table {
    font-size: .9em;
    display: table;
    width: 100%;
    margin: 0;
    border-radius: 3px;
}
.planningList table th, .planningList table td {
    padding: .5em;
}
.planningList table th {
    color: #236fc3;
}
.footer {
    font-size: 0.8em;
    width: 100%;
    padding: 1em .3em 0;
    color: #787d82;
}
.footer span {
    margin-right: 1em;
}