<table id="statistics">
  <tbody>
		<tr>
			<th colspan="2" class="panel center"><label class="bold">{{ 'statistics.info' | translate }}</label></th>
		</tr>
		<tr>
			<td style="width: 50%;">
				<!-- 場域 Modulation統計 -->
				<div id="LAYER_Modulation"></div>
			</td>
			<td>
				<!-- 場域 Modulation CDF圖 -->
				<div id="LAYER_Modulation_CDF"></div>
			</td>
		</tr>
		<tr>
			<td>
				<!-- 場域訊號強度統計 -->
				<div id="LAYER_SIGNAL"></div>
			</td>
			<td>
				<!-- 場域訊號強度CDF圖 -->
				<div id="LAYER_SIGNAL_CDF"></div>
			</td>
		</tr>
		<tr *ngIf="showUE">
			<td style="width: 50%;">
				<!-- UE Modulation統計 -->
				<div id="UE_Modulation"></div>
			</td>
			<td>
				<!-- UE Modulation CDF圖 -->
				<div id="UE_Modulation_CDF"></div>
			</td>
		</tr>
		<tr *ngIf="showUE">
			<td>
				<!-- UE訊號強度統計 -->
				<div id="UE_SIGNAL"></div>
			</td>
			<td>
				<!-- UE訊號強度CDF圖 -->
				<div id="UE_SIGNAL_CDF"></div>
			</td>
		</tr>
  </tbody>
</table>
