<table id="performace" class="thCenter">
  <tbody>
      <tr>
          <th class="panel" colspan="4"><label class="bold">預估效能</label></th>
      </tr>
      <tr>
          <th>場域覆蓋率</th>
          <th>場域平均訊號品質</th>
          <th>場域平均訊號強度</th>
          <th></th>
      </tr>
      <tr>
          <td>{{ result['coverage'] }}%</td>
          <td>{{ result['averageSinr'] | number }}dB</td>
          <td>{{ result['averageRsrp'] | number }}dBm</td>
          <td></td>
      </tr>
  </tbody>
  <tbody>
      <tr>
          <th>行動終端覆蓋率</th>
          <th>行動終端平均訊號品質</th>
          <th>行動終端平均訊號強度</th>
          <th>行動終端平均 Throughput</th>
      </tr>
      <tr>
          <td>{{ result['ueCoverage'] }}%</td>
          <td>{{ result['ueAverageSinr'] | number }}</td>
          <td>{{ result['ueAverageRsrp'] | number }}</td>
          <td>{{ result['ueThroughput'] | number }}</td>
      </tr>
  </tbody>
  <tbody>
      <tr>
          <th>地圖切面(高度)</th>
          <th>切面覆蓋率</th>
          <th>切面平均訊號品質</th>
          <th>切面平均訊號強度</th>
      </tr>
      <tr *ngFor="let item of zValueList">
          <td>{{ item[0] }}公尺</td>
          <td>{{ item[1] }}%</td>
          <td>{{ item[2] | number }}dB</td>
          <td>{{ item[3] | number }}dBm</td>
      </tr>
  </tbody>
</table>
