body {
    color: #fff;
    background-color: #13161d;
}
.header {
    background-color: transparent;
    border-bottom: 1px solid #212633;
  }
.planningList table {
    background-color: #1f242f;
}
.planningList tbody tr {
    border-bottom: 1px solid #2b3346;
}
.mat-expansion-panel {
    background: #2e5480;
    color: #b5dfec;
}
.mat-expansion-panel-body p {
    color: #8ae29f!important;
    display: inline-block;
    margin: 0;
}
.mat-expansion-panel-header-title {
    color: rgb(255 255 255 / 87%);
}
.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
    color: #fff;
}
.mat-accordion .mat-expansion-panel:first-of-type {
    /*border-top-right-radius: 0;
    border-top-left-radius: 0;*/
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
    border-bottom: 1px solid #527198;
}
.mat-drawer {
    background-color: #2e5480;
    color: rgba(255,255,255,.87);
}
.tool {
    background-color: #0d223a!important;
}
.tool hr {
    border-color: #214065!important;
}
#d_area .toggle .material-icons {
    color: #c1dfff!important;
}
h3 button {
    background-color: #007bff!important;
    color: #fff!important;
}

.ds {
    background-color: #202633!important;
    border-top: 3px solid #0f4e82!important;
}
.rightArea h5 {
    color: #8d9daf!important;
    border-bottom:1px solid #5b6c80;
    line-height: 2;
    margin-bottom: 0;
}
.ds h5 i {
    color: #8d9daf;
    margin-right: .5em;
}

.rightArea ul li > span {
    color: #a6b2c5!important;
}
.leftArea table .panel {
    background-color: #2a3a5d !important;
    color: #cae8ff!important;
    border-right: 1px solid #0f4e82 !important;
}
.leftArea table .panel label {
    color: #fff !important;
    margin: 0;
}
.box table {
    border: 1.5px solid #0f4e82!important;
}
.box table tr {
    border-bottom: 1.5px solid #0f4e82!important;
}
.box table th {
    background-color: rgb(208, 234, 245)!important;
    border-top: 1.5px solid #0f4e82!important;
    color: rgb(51, 88, 129)!important;
}
.box table th, .box table td {
    border-right: 1px solid #0f4e82!important;
}
.mapType {
    background-color: #fff;
}
.mapType label {
    color: #333;
}
/* check box */
.mat-checkbox-frame {
    border-color: #b5dfec!important;
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    /*background-color: #185ea9!important;*/
}
/* setting select */
.mat-expansion-panel-body input[type=text] ,
.mat-expansion-panel-body ul li select ,
.mat-expansion-panel-body ol li select {
    border-bottom: 1px solid #b5dfec!important;
    color: #fff!important;
}


.areaSetting .mat-expansion-panel-body input[type=text] ,
.areaSetting .mat-expansion-panel-body ul li select ,
.areaSetting .mat-expansion-panel-body ol li select {
    border-bottom: 1px solid #9aabbf!important;
    color: #fff!important;
}
