<table id="propose">
  <tbody>
      <tr>
          <th class="panel center" colspan="7"><label class="bold">建議方案</label>待選基站位置 ( 共3處 )</th>
      </tr>
      <tr>
          <td colspan="7" class="mapType">
            <div id="layout_chart"></div>
              <!-- <img class="map" src="assets/img/map2.png">            -->
          </td>
      </tr>
      <tr>
          <th>基站編號</th>
          <th>發射功率(dBm)</th>
          <th>波束編號</th>
          
      </tr>
      <tr>
          
          <td class="choose"><label>1</label></td>
          <td class="choose">10</td>
          <td class="choose">32</td>
      </tr>
      <tr>
          <td class="choose"><label>2</label></td>
          <td class="choose">20</td>
          <td class="choose">288</td>
      <tr>
          <td class="choose"><label>3</label></td>
          <td class="choose">19</td>
          <td class="choose">704</td>
      </tr>
  </tbody>
</table>
