<table id="propose">
  <tbody>
      <tr>
          <th class="panel center" colspan="7"><label class="bold">建議方案</label>待選基站位置 ( 共{{ candidateList.length }}處 )</th>
      </tr>
      <tr>
          <td colspan="7" class="mapType">
            <div id="layout_chart" #layoutChart></div>
          </td>
      </tr>
      <tr>
          <th>基站編號</th>
          <th>X座標</th>
          <th>Y座標</th>
          <th>發射功率(dBm)</th>
          <th>波束編號</th>
      </tr>
      <tr *ngFor="let item of candidateList">
          <td class="choose"><label>{{ item[0] }}</label></td>
          <td class="choose">{{ item[1] }}</td>
          <td class="choose">{{ item[2] }}</td>
          <td class="choose">{{ item[3] }}</td>
          <td class="choose">{{ item[4] }}</td>
      </tr>
  </tbody>
</table>
